<h2 mat-dialog-title>{{ isEditMode ? 'Editar Cliente' : 'Nuevo Cliente' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="form-grid">
    
    @if (!isEditMode) {
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Razón Social</mat-label>
        <input matInput formControlName="corporateName">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CUIT</mat-label>
        <input matInput formControlName="cuit" placeholder="20-12345678-9">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput type="date" formControlName="birthdate">
      </mat-form-field>
    </div>
  }
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error>Email inválido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Celular</mat-label>
      <input matInput formControlName="cellPhone" placeholder="10 dígitos">
      <mat-error>Deben ser 10 números</mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="form.invalid">
    Guardar
  </button>
</mat-dialog-actions>